<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage/>
  <testsuites>
    <testsuite name="CurrencyFxUnitSuite">
      <directory suffix=".php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="CurrencyFxIntegrationSuite">
      <directory suffix=".php">./tests/Integration</directory>
      <exclude>./tests/Integration/IntegrationTestCase.php</exclude>
    </testsuite>
    <testsuite name="CurrencyFxE2ESuite">
      <directory suffix=".php">./tests/E2E</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory suffix=".php">./src/Contracts</directory>
      <directory suffix=".php">./src/Enums</directory>
      <directory suffix=".php">./src/Laravel/Configs</directory>
      <file>./src/Laravel/CurrencyFxServiceProvider.php</file>
    </exclude>
  </source>
</phpunit>
